{% extends "structure.html" %}

{% block main %}
<h1>Home Page</h1>
<form action="/" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Username"><br><br>
    <label for="name"> Name</label><br>
    <input type="text" name="name" placeholder="Name"><br><br>
    <label for="lastname">Lastname</label><br>
    <input type="text" name="lastname" placeholder="Lastname">
    <br><br>
    <label for="email">Email</label><br>
    <input type="email" name="email" placeholder="Email"><br><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" placeholder="Password"><br><br>
    <input type="submit" value="Submit">
</form>
<p>{{message}}</p>

{% endblock %}